@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none !important;
}


ul {
  list-style-type: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/pt_sans_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url("../fonts/pt_sans_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #f6f6f6;
  font-size: 14px;
  font-family: Arial, Tahoma, sans-serif;
}

.calculate_form {
  max-width: 510px;
  width: 100%;
  margin: auto;
  margin-top: 5%;
}

.calculate_form label {
  display: block;
  width: 55%;
  margin: auto;
  font-family: "PT Sans Bold",Arial, Tahoma, sans-serif;
  font-size: 1.14em;
}

.calculate_form select {
  -webkit-appearance: none;
  -ms-appearance: none;
  background: url(../img/check.png) no-repeat;
  background-position: 90% 55%;
  padding: 2% 20.3% 1.6% 5.1%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-family: "PT Sans Regular", Arial, Tahoma, sans-serif;
  font-size: 1.14em;
}

.calculate_form .weight {
  width: 80%;
  margin: auto;
  margin-bottom: 6.8%;
  margin-top: -1.7%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.calculate_form .weight input {
  background: inherit;
  padding: 3% 1.8% 2.5% 0;
  border: none;
  border-bottom: 1px solid #acacac;
  font-family: "PT Sans Regular",Arial, Tahoma, sans-serif;
  font-size: 1.17em;
}

.calculate_form .precious {
  width: 80%;
  margin: auto;
  margin-bottom: 9.2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.calculate_form .precious select {
  background: url(../img/check.png) no-repeat;
  background-position: 100% 58%;
  padding: 2.8% 25% 1.6% 0;
  border: none;
  border-bottom: 1px solid #acacac;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 1.28em;
}

.calculate_form .calculate_checked {
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: 8.9%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.calculate_form .calculate_checked .calculate_label {
  width: 83.8%;
}

.calculate_form .calculate_checked span {
  position: absolute;
  top: -50%;
  left: 51.5%;
  width: 199px;
  font-family: "PT Sans Regular",Arial, Tahoma, sans-serif;
  font-weight: 100;
  color: #e60000;
  font-size: 0.92em;
}

.calculate_form .calculate_checked .onoffswitch {
  position: relative;
  width: 67px;
  margin-left: -1.3%;
}

.caculate_form .calculate_checked .onoffswitch .onoffswitch-label {
  width: 80%;
  border: none;
}

.calculate_form .calculate_checked .onoffswitch .onoffswitch-label .onoffswitch-inner:before {
  content: 'Нет';
  background: #e0e0e0;
  font-family: "PT Sans Regular", Arial, Tahoma, sans-serif;
  font-weight: 100;
  font-size: .7em;
  color: black;
}

.calculate_form .calculate_checked .onoffswitch .onoffswitch-label .onoffswitch-inner:after {
  content: 'да';
  background: #7f7f7f;
  font-family: "PT Sans Regular", Arial, Tahoma, sans-serif;
  font-weight: 100;
  font-size: .76em;
  color: white;
}

.calculate_form .calculate_checked .onoffswitch .onoffswitch-label .onoffswitch-switch {
  width: 23px;
  margin: 2px;
  border: none;
}

.calculate_form .fare {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9%;
}

.calculate_form .fare label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.calculate_form .fare label img {
  width: 10%;
  margin: 0.6% 0 0 6%;
}

.calculate_form .discount {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.calculate_form .discount select {
  padding: 2% 20% 1.8% 5%;
}

.calculate_form .slider {
  width: 80%;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.calculate_form .slider label {
  width: 34%;
  margin: 10.5% 0 0 0;
}

.calculate_form .slider .slider_block {
  width: 57.5%;
  margin: 16% 0 0 9%;
}

.calculate_form .slider .slider_block .irs {
  height: 1px;
  background: #bebebe;
}

.calculate_form .slider .slider_block .irs .irs-min, .calculate_form .slider .slider_block .irs .irs-max {
  visibility: hidden !important;
}

.calculate_form .slider .slider_block .irs .irs-single {
  width: 41%;
  background: white;
  top: -17.5px !important;
  margin: 0 0 0 -2%;
  padding: 4% 0 4% 0;
  border: 1px solid #bebebe;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  font-family: "PT Sans Bold", Arial, Tahoma, sans-serif;
}

.calculate_form .slider .slider_block .irs .irs-single:after {
  content: '';
  position: absolute;
  top: 42%;
  left: 12%;
  width: 5px;
  height: 5px;
  border: 1px solid transparent;
  border-top: 1px solid black;
  border-right: 1px solid black;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
}

.calculate_form .slider .slider_block .irs .irs-single:before {
  content: '';
  position: absolute;
  top: 42%;
  right: 12%;
  width: 5px;
  height: 5px;
  border: 1px solid transparent;
  border-top: 1px solid black;
  border-right: 1px solid black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.calculate_form button {
  width: 48%;
  margin: 9% 0 7.4% 9.8%;
  padding: 2.4% 0 2.4% 0;
  background: inherit;
  border: 1px solid #e60000;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  color: #e60000;
  font-family: "PT Sans Bold", Arial, Tahoma, sans-serif;
  font-size: 1.14em;
}

.tooltip {
  width: 100px;
  height: 100px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

@media (max-width: 521px) {
  body {
    font-size: 12px;
  }
  .onoffswitch-switch {
    right: 32px !important;
  }
}

@media (max-width: 406px) {
  body {
    font-size: 9px;
  }
  .onoffswitch-switch {
    right: 29px !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .fare {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 9%;
  }
  .fare label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .fare label img {
    width: 10% !important;
    margin: 1.6% 0 9% 6% !important;
  }
  .weight input {
    background: #f6f6f6;
    padding: 3% 5.8% 2.5% 0 !important;
  }
}

@-moz-document url-prefix() {
  .irs {
    margin: 16% 0 0 9%;
  }
  select {
    padding: 2% 18.3% 1.6% 2.1% !important;
  }
  .weight input {
    background: #f6f6f6;
    padding: 3% 3.1% 2.5% 0 !important;
  }
  .discount {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .discount select {
    padding: 2% 18% 1.8% 0 !important;
  }
}
